langchain
langchain-core
langchain-community
langchain-groq
langchain-mistralai

chromadb
sentence-transformers

pypdf
unstructured
python-docx

python-dotenv
tiktoken

fastapi
uvicorn

sqlalchemy
psycopg2-binary

pandas
numpy

requests
loguru